body {
    font-family: "Century Gothic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* Adiciona scroll na tabela */
/* Fonte: http://stackoverflow.com/questions/21168521/scrollable-table-with-fixed-header-in-bootstrap */
thead, tbody, tr, td, th {
    display: block;
}

.gantt_task_progress {
    max-width: 63px;
}

.mensagem-error {
    color: red;
}

table > thead > tr > th:first-child {
    width: 50px !important;
}

table > tbody > tr > td:first-child {
    width: 50px !important;
}

.gantt_scale_line {
    height: 0px;
}

.gantt_ver_scroll {
    height: 0px !important;
}

.gantt_task_line {
    width: 65px !important;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
    /*text-align: left;*/
}

tbody {
    height: 250px;
    overflow-y: auto;
}

tbody > tr > td {
    height: 30px;
}

tbody td, thead th {
    width: 15%;
    float: left;
}

/* Fim fonte */

/* Minhas coisas =) */
.progress {
    font-size: 10px;
    color: #323232;
    float: none;
    text-align: center;
    margin-top: -5px;
    background-color: dimgray;
    width: 100%;
}

td > * {
    vertical-align: middle
}

/* Retirado do site do bootstrap */
.container .text-muted {
    margin: 20px 0;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.processadores {
    overflow: auto;
    max-height: 380px;
    margin-left: 0;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-right: 0px
}

hr {
    margin-top: -3px;
}

/*#recursos {*/
/*opacity: 0;*/
/*transition: opacity 0.4s ease-in;*/
/*-ms-transition: opacity 0.4s ease-in;*/
/*-moz-transition: opacity 0.4s ease-in;*/
/*-webkit-transition: opacity 0.4s ease-in;*/
/*}*/

/*#recursos.show {*/
/*opacity: 1;*/
/*transition: opacity 0.4s ease-in;*/
/*-ms-transition: opacity 0.4s ease-in;*/
/*-moz-transition: opacity 0.4s ease-in;*/
/*-webkit-transition: opacity 0.4s ease-in;*/
/*}*/

.panel .panel-heading {
    height: 30px;
    padding: 6px;
    font-size: 14px;
}

.aptos {
    border: 1px solid lightgray;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 3px;
    margin-bottom: 2px;
    border-radius: 3px
}

/* Fonte http://stackoverflow.com/questions/19579335/angularjs-chained-fade-in-fade-out-transition */
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

/*Fim fonte*/

#config {
    center: 0;
}

.grid {
    border: 1px rgba(220, 220, 220, .5) solid;
    border-width: 1px 0 0 1px;
    min-width: 10%;
    min-height: 25px;
    position: relative;
}

.table-cell {
    border: 1px rgba(220, 220, 220, .5) solid;
    border-width: 0 1px 1px 0;
    width: 100%;
    height: 24px;
    float: left;
    padding: 2px;
    display: inline-flex;
}

.table-consumption {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: indianred;
    color: black;
    text-align: -webkit-center;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
    width: 0px;
}

.table-consumption:hover {
    width: 100%;
}

.pesquisa {
}

.pesquisa.ng-enter, .pesquisa.ng-leave {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.pesquisa.ng-enter,
.pesquisa.ng-leave.ng-leave-active {
    opacity: 0;
}

.pesquisa.ng-leave,
.pesquisa.ng-enter.ng-enter-active {
    opacity: 1;
}

/*W3C - */
.tooltip {
    /*position: relative;*/
    display: inline-block;
    height: 17px;
    opacity: 1;
    z-index: 0;
    width: 0;
    transition: width .5s;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover {
    background: rgba(255, 216, 114, 0.79);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.block-border {
    border: 1px solid black;
    height: 19px;
    width: 0;
    transition: width .5s;
}