<div class="animate-show" ng-hide="!processos().length">

    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size: 12px">
            Aptos
            <button id="aptosBtn" style="margin-top: 0px" collapse-button
                    class="btn btn-default pull-right glyphicon glyphicon-chevron-down btn-xs"
                    data-toggle="collapse" ng-click="collapseAptos()" data-target="#pbody"></button>
        </div>
        <div id="pbody" class="collapse panel-body">
            <div class="row">
                <fila-aptos prioridade="0"></fila-aptos>
                <fila-aptos prioridade="1"></fila-aptos>
                <fila-aptos prioridade="2"></fila-aptos>
                <fila-aptos prioridade="3"></fila-aptos>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size: 12px">{{titulo}}</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th ng-repeat="header in headers">{{header}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in processos()" ng-class="{ 'active':row.active }">
                    <td>{{row.pid}}</td>
                    <td>{{row.processo}}</td>
                    <td>
                        <div class="progress">
                            <div state-element apto="row" tipo="progress-bar" class="progress-bar progress-bar-info progress-bar-striped" style="font-size: 10px" ng-style="setWidth(row)">                                <span style="margin-top: -5px">{{row.progress}}%</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="margin-top: -5px">
                            <span class="label label-success" state-element apto="row" tipo="label">{{row.state}}</span>
                        </div>
                    </td>
                    <td>{{row.prioridade}}</td>
                    <td>{{row.tempo === 0 ? row.tempoTotal : row.tempoTotal - row.tempo}}s</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" style="margin-top: -10px; margin-right: 0px" ng-click="addProccess(true)">Adicionar</a>
</div>